body {
  background-color: #ADD8E6;
}

#splashBackground img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1000;
  opacity: .5;
}

.splash {
  margin: 20rem auto;
}

.well {
  border-radius: 1rem;
  margin: 2rem;
}

.form {
  background-color: #D3D3D3;
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.button {
  width: 100%;
  margin-top: 1rem;
  background-color: #98FB98
}

.buttonSm {
  background-color: #98FB98
}

.taskEdit {
  color: blue;
}

#messageBoardContainer {
  height: 30rem;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 1rem;
  border: 1px solid gray;
}
