body {
  background-color: #ADD8E6;
}

#splashBackground img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  z-index: -1000;
  opacity: .5;
}

.splash {
  margin: 20rem auto;
}

nav {
  background-color: #E6F3F8;
  padding: .5rem;
}

.userPic {
  height: 40px;
  width: auto;
  border-radius: 30px;
  margin-top: .5rem;
}

.well {
  border-radius: 1rem;
  margin: 2rem;
  background-color: white;
  border: none;
}

.form {
  background-color: #E9E9E9;
  padding: 3rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.button {
  width: 100%;
  margin-top: 1rem;
  background-color: #98FB98
}

.buttonSm {
  background-color: #98FB98
}

.taskEdit {
  color: blue;
}

#messageBoardContainer {
  height: 30rem;
  width: 100%;
  background-color: white;
  margin: 0 auto;
  border-radius: 1rem;
  border: 1px solid gray;
  overflow: auto;
}

.messages {
  padding: 1rem 2rem;
}

@media screen and (max-width:70em) {
  #splashBackground img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: .5;
  }

  .userPic {
    height: 40px;
    width: auto;
    border-radius: 30px;
    margin-left: 1.5rem;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #splashBackground img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 100%;
      height: 100%;
      z-index: -1000;
      opacity: .5;
    }

    .userPic {
      height: 40px;
      width: auto;
      border-radius: 30px;
      margin-left: 1.5rem;
    }
}
