<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">PLAN TOGETHER</span>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/#/sign-out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class='dashboard'>
  <div class='well col-sm-4'>
    <h2 class='text-center'>MY TRIPS</h2>
    <div class='col-sm-6'>
      <h4>CREATED TRIPS</h4>
      <div ng-repeat='trip in trip_collection'>
        <h4><a href='/#/trips/{{trip.id}}'>{{trip.title}}</a></h4>
      </div>
    </div>
    <div class='col-sm-6'>
      <h4>INVITED TRIPS</h4>
      <div ng-repeat='trip in invited_collection'>
        <h4><a href='/#/trips/{{trip.id}}'>{{trip.title}}</a></h4>
      </div>
    </div>
    <br>
    <button class='newTripBtn btn buttonSm' ng-click='toggleNewTripForm()'><i class='fa fa-plus'></i> Create Trip</button>
    <div class='form' ng-show='showme'>
     <form ng-submit='postTrip()'>
       <fieldset class='form-group'>
         <input class='form-control' name='title' type='text' ng-model='trip.title' placeholder='Title'>
       </fieldset>
       <fieldset class='form-group'>
         <input class='form-control' name='description' type='text' ng-model='trip.description' placeholder='Description'>
       </fieldset>
       <fieldset class='form-group'>
         <input class='form-control' name='trip_start' type='text' ng-model='trip.trip_start' placeholder='Trip Start Date'>
      </fieldset>
      <fieldset class='form-group'>
         <input class='form-control' name='trip_end' type='text' ng-model='trip.trip_end' placeholder='Trip End Date'>
      </fieldset>
      <fieldset class='form-group'>
         <input class='form-control' name='image' type='text' ng-model='trip.image' placeholder='Image URL'>
      </fieldset>
       <button class='btn button' ng-click='showme=false'>Add Trip</button>
     </form>
    </div>
  </div>
  <div class='well col-sm-7'>
    <h2 class='text-center'>MY CALENDAR</h2>
    <iframe src="https://calendar.google.com/calendar/embed?src=u1894m2sjqk4mmb2lmo2b7ohcg%40group.calendar.google.com&ctz=America/Denver" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <a target="_blank" href="https://calendar.google.com/calendar/event?action=TEMPLATE&amp;tmeid=NDQ0ZXR0MDcyczh1aWRkOWc0MjMxcDgzMWcgdTE4OTRtMnNqcWs0bW1iMmxtbzJiN29oY2dAZw&amp;tmsrc=u1894m2sjqk4mmb2lmo2b7ohcg%40group.calendar.google.com"><img border="0" src="https://www.google.com/calendar/images/ext/gc_button1_en.gif"></a>
  </div>
</div>
