<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <span class="navbar-brand">Plan Together</span>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="user in user_collection"><img class='userPic img-responsive' src='{{user.picture}}'></li>
        <li><a href="/#/sign-out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class='dashboard'>
  <div class='well full'>
    <h1>My Trips</h1>
    <div ng-repeat='trip in trip_collection'>
      <h3><a href='/#/trips/{{trip.id}}'>{{trip.title}}</a></h3>
    </div>
    <br>
    <button class='btn buttonSm' ng-click='toggleNewTripForm()'><i class='fa fa-plus'></i> Create Trip</button>
    <div class='form' ng-show='showme'>
     <form ng-submit='postTrip()'>
       <fieldset class='form-group'>
         <input class='form-control' name='title' type='text' ng-model='trip.title' placeholder='Title'>
       </fieldset>
       <fieldset class='form-group'>
         <input class='form-control' name='description' type='text' ng-model='trip.description' placeholder='Description'>
       </fieldset>
       <fieldset class='form-group'>
         <input class='form-control' name='trip_start' type='text' ng-model='trip.trip_start' placeholder='Trip Start Date'>
      </fieldset>
      <fieldset class='form-group'>
         <input class='form-control' name='trip_end' type='text' ng-model='trip.trip_end' placeholder='Trip End Date'>
      </fieldset>
       <button class='btn button' ng-click='showme=false'>Add Trip</button>
     </form>
    </div>
  </div>
  <div class='well full'>
    <h1>My Calendar</h1>
  </div>
</div>
