<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/#/dashboard">Plan Together</a>
    </div>
    <div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-repeat="user in user_collection"><img class='userPic img-responsive' src='{{user.picture}}'></li>
        <li><a href="/#/sign-out">Sign Out</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class='tripContainer'>
  <div class='well'>
    <div class='text-center'>
      <h1>{{singleTrip.title}}</h1>
      <h3>{{singleTrip.description}}</h2>
      <p>Start Date: {{singleTrip.trip_start}}</p>
      <p>End Date: {{singleTrip.trip_end}}</p>
      <br>
      <button class='btn buttonSm' ng-click='toggleEditTripForm()'>Edit Trip</button>
    </div>
    <div class='form' ng-show='showmeET'>
     <form method='post' action='/trips/edit'>
      <fieldset class='form-group'>
       <label for='title'>Title</label>
       <input class='form-control' name='title' type='text' ng-model='tripInfo.title'>
      </fieldset>
      <fieldset class='form-group'>
       <label for='description'>Description</label>
       <input class='form-control' name='description' type='text' ng-model='tripInfo.description'>
      </fieldset>
      <fieldset class='form-group'>
       <label for='trip_start'>Trip Start</label>
       <input class='form-control' name='trip_start' type='text' ng-model='tripInfo.trip_start'>
      </fieldset>
      <fieldset class='form-group'>
       <label for='trip_end'>Trip End</label>
       <input class='form-control' name='trip_end' type='text' ng-model='tripInfo.trip_end'>
       <input type='hidden' name="id" value='{{tripInfo.id}}'>
      </fieldset>
       <button class='btn button' ng-click='showmeET=false'>Update Trip</button>
     </form>
     <form method='post' action='/trips/delete'>
        <input type='hidden' name="id" value='{{tripInfo.id}}'>
        <button class='btn button'>Delete Trip</button>
     </form>
    </div>
  </div>
  <div class='well'>
    <h1>trip details</h1>
    <div ng-repeat='tripd in tripd_collection'>
      <div> {{tripd.detail}} <a href='{{tripd.url}}' target='_blank'>link</a> <span class='taskEdit' ng-click='toggleEditTripDForm()'>edit</span></div>
      <div class='form' ng-show='showmeETD'>
       <form ng-submit='editTripD(tripd)'>
           <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
           <input type='hidden' name='user_id' value='{{user.id}}'>
         <fieldset class='form-group'>
           <label for='detail'>Trip Details</label>
           <input class='form-control' name='detail' type='text' ng-model='tripd.detail'>
         </fieldset>
         <fieldset class='form-group'>
           <label for='url'>URL (if applicable)</label>
           <input class='form-control' name='url' type='text' ng-model='tripd.url'>
         </fieldset>
         <button class='btn button' ng-click='showmeETD=false'>Update Trip Detail</button>
       </form>
       <form ng-submit='deleteTripD(tripd.id)'>
          <button ng-click='showmeETD=false' class='btn button'>Delete Trip Detail</button>
       </form>
      </div>
    </div>
    <br>
    <button class='btn buttonSm' ng-click='toggleNewTripDForm()'><i class='fa fa-plus'></i> Add Trip Detail</button>
    <div class='form' ng-show='showmeNTD'>
     <form ng-submit='postTripD()'>
         <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
         <input type='hidden' name='user_id' value='{{user.id}}'>
       <fieldset class='form-group'>
         <label for='detail'>Trip Details</label>
         <input class='form-control' name='detail' type='text' ng-model='tripD.detail' placeholder='Enter Trip Details Here'>
       </fieldset>
       <fieldset class='form-group'>
         <label for='url'>URL (if applicable)</label>
         <input class='form-control' name='url' type='text' ng-model='tripD.url' placeholder='www.example.com'>
       </fieldset>
         <button class='btn button' ng-click='showmeNTD=false'>Add Trip Detail</button>
     </form>
    </div>
  </div>
    <div class='well col-sm-5'>
      <h1>tasks</h1>
      <div ng-repeat='task in task_collection'>
        <fieldset class='form-group'>
          <input type='checkbox'> {{task.description}} <span class='taskEdit' ng-click='toggleEditTaskForm()'>edit</span></input>
        </fieldset>
        <div class='form' ng-show='showmeETask'>
         <form ng-submit='editTask(task)'>
             <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
           <fieldset class='form-group'>
             <label for='description'>Description</label>
             <input class='form-control' name='description' type='text' ng-model='task.description'>
           </fieldset>
           <fieldset class='form-group'>
             <label for='due_date'>Due Date</label>
             <input class='form-control' name='due_date' type='text' ng-model='task.due_date'>
           </fieldset>
           <fieldset class='form-group'>
             <label for='user_id'>Assign Task</label>
             <select class='form-control'>
              <option ng-model='task.user_id' value='{{user.id}}' ng-repeat='user in user_collection'>{{user.first_name}} {{user.last_name}}</option>
             </select>
           </fieldset>
             <br>
             <button class='btn button' ng-click='showmeETask=false'>Edit Task</button>
         </form>
         <form ng-submit='deleteTask(task.id)'>
            <button ng-click='showmeETask=false' class='btn button'>Delete Task</button>
         </form>
        </div>
    </div>
    <br>
      <button class='btn buttonSm' ng-click='toggleNewTaskForm()'><i class='fa fa-plus'></i> Add Task</button>
      <div class='form' ng-show='showmeNT'>
       <form ng-submit='postTask()'>
           <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
         <fieldset class='form-group'>
           <label for='description'>Description</label>
           <input class='form-control' name='description' type='text' ng-model='task.description' placeholder='Task Description'>
         </fieldset>
         <fieldset class='form-group'>
           <label for='due_date'>Due Date</label>
           <input class='form-control' name='due_date' type='text' ng-model='task.due_date' placeholder='Task Due Date'>
         </fieldset>
         <fieldset class='form-group'>
           <label for='user_id'>Assign Task</label>
           <select class='form-control'>
            <option diasbled>Select User</option>
            <option ng-repeat='user in user_collection' ng-model='task.user_id' value='{{user.id}}'>{{user.first_name}} {{user.last_name}}</option>
           </select>
         </fieldset>
           <button class='btn button' ng-click='showmeNT=false'>Add Task</button>
       </form>
      </div>
    </div>
  </div>
  <div class='well col-sm-6'>
    <h1>message board</h1>
    <div id='messageBoardContainer'>
      <div ng-repeat='message in message_collection'>
        <div class='messages'> {{message.message}} {{message.created_at}} <span class='taskEdit' ng-click='toggleEditMsgForm()'>edit</span></div>
        <div class='msgEdit' ng-show='showmeEM'>
         <form class='meForm' ng-submit='editMessage(message)'>
            <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
            <input type='hidden' name='user_id' value='{{user.id}}'>
           <fieldset class='form-group'>
             <label for='message'>Message</label>
             <input class='form-control' name='message' type='text' ng-model='message.message'>
           </fieldset>
             <button class='btn button' ng-click='showmeEM=false'>Edit Message</button>
         </form>
         <form ng-submit='deleteMessage(message.id)'>
            <button ng-click='showmeEM=false' class='btn button'>Delete Message</button>
         </form>
        </div>
      </div>
    </div>
    <br>
    <button class='btn buttonSm' ng-click='toggleNewMessage()'><i class='fa fa-plus'></i> Add Message</button>
    <div class='form' ng-show='showmeNM'>
     <form ng-submit='postMessage()'>
         <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
         <input type='hidden' name='user_id' value='{{user.id}}'>
       <fieldset class='form-group'>
         <label for='message'>Message</label>
         <input class='form-control' name='message' type='text' ng-model='message.message' placeholder='Enter Message Here'>
       </fieldset>
         <button class='btn button' ng-click='showmeNM=false'>Add Message</button>
     </form>
    </div>
  </div>
</div>
