<div class='tripContainer'>
  <div class='well'>
    <h1>trip details go here</h1>
    <p>{{singleTrip.title}}</p>
    <p>{{singleTrip.description}}</p>
    <button class='btn' ng-click='toggleEditTripForm()'>Edit Trip</button>
    <div class='form' ng-show='showmeET'>
     <form method='post' action='/trips/edit'>
      <fieldset class='form-group'>
       <label for='title'>Title</label>
       <input class='form-control' name='title' type='text' ng-model='tripInfo.title'>
      </fieldset>
      <fieldset class='form-group'>
       <label for='description'>Description</label>
       <input class='form-control' name='description' type='text' ng-model='tripInfo.description'>
      </fieldset>
      <fieldset class='form-group'>
       <label for='trip_start'>Trip Start</label>
       <input class='form-control' name='trip_start' type='text' ng-model='tripInfo.trip_start'>
      </fieldset>
      <fieldset class='form-group'>
       <label for='trip_end'>Trip End</label>
       <input class='form-control' name='trip_end' type='text' ng-model='tripInfo.trip_end'>
       <input type='hidden' name="id" value='{{tripInfo.id}}'>
      </fieldset>
      <fieldset class='form-group'>
       <button class='btn button' ng-click='showmeET=false'>Update Trip</button>
      </fieldset>
     </form>
     <form method='post' action='/trips/delete'>
        <input type='hidden' name="id" value='{{tripInfo.id}}'>
        <button class='btn button'>Delete Trip</button>
     </form>
   </div>
  </div>
  <div class='well col-sm-6'>
    <h1>trip details i.e. urls to stuff or other shit</h1>
  </div>
    <div class='well col-sm-6'>
      <h1>tasks go here</h1>
      <div ng-repeat='task in task_collection'>
        <input type='checkbox'> {{task.description}} <a href="" ng-click='toggleNewTaskForm()'>edit</a></input>
        <div class='form' ng-show='showmeNT'>
         <form method='post' action='/tasks/edit'>
             <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
           <fieldset class='form-group'>
             <label for='description'>Description</label>
             <input class='form-control' name='description' type='text' ng-model='task.description' placeholder='Task Description'>
           </fieldset>
           <fieldset class='form-group'>
             <label for='due_date'>Due Date</label>
             <input class='form-control' name='due_date' type='text' ng-model='task.due_date' placeholder='Task Due Date'>
           </fieldset>
           <fieldset class='form-grou'>
             <label for='user_id'>Assign Task</label>
             <select class='form-control'>
              <option diasbled>Select User</option>
              <option value={{user.id}} ng-repeat='user in user_collection'>{{user.first_name}} {{user.last_name}}</option>
             </select>
           </fieldset>
             <br>
             <button class='btn button' ng-click='showmeNT=false'>Add Task</button>
         </form>
        </div>
    </div>
    <br>
      <button class='btn' ng-click='toggleNewTaskForm()'><i class='fa fa-plus'></i> Add Task</button>
      <div class='form' ng-show='showmeNT'>
       <form ng-submit='postTask()'>
           <input type='hidden' name='trip_id' value='{{tripInfo.id}}'>
         <fieldset class='form-group'>
           <label for='description'>Description</label>
           <input class='form-control' name='description' type='text' ng-model='task.description' placeholder='Task Description'>
         </fieldset>
         <fieldset class='form-group'>
           <label for='due_date'>Due Date</label>
           <input class='form-control' name='due_date' type='text' ng-model='task.due_date' placeholder='Task Due Date'>
         </fieldset>
         <fieldset class='form-grou'>
           <label for='user_id'>Assign Task</label>
           <select class='form-control'>
            <option diasbled>Select User</option>
            <option value={{user.id}} ng-repeat='user in user_collection'>{{user.first_name}} {{user.last_name}}</option>
           </select>
         </fieldset>
           <br>
           <button class='btn button' ng-click='showmeNT=false'>Add Task</button>
       </form>
      </div>
    </div>
  </div>
  <div class='well col-sm-6'>
    <h1>message board goes here</h1>
  </div>
  <div class='well col-sm-6'>
    <h1>calendar goes here</h1>
  </div>
</div>
